<div id="visualization"></div>
<script type="text/javascript">

    var DELAY = 1000; // delay in ms to add new data points

    // create a graph2d with an (currently empty) dataset
    var container = document.getElementById('visualization');
    var dataset = new vis.DataSet();
    var from = vis.moment().unix();

    var options = {
      start: vis.moment().add(-30, 'seconds'), // changed so its faster
      end: vis.moment(),
      dataAxis: {
        customRange: {
          left: {
            min:0, max: 4
          }
        }
      },
      drawPoints: {
        style: 'circle' // square, circle
      },
      shaded: {
        orientation: 'bottom' // top, bottom
      }
    };
    var graph2d = new vis.Graph2d(container, dataset, options);

    function renderStep() {
      // move the window (you can think of different strategies).
      var now = vis.moment();
      var range = graph2d.getWindow();
      var interval = range.end - range.start;

      // continuously move the window
      graph2d.setWindow(now - interval, now, {animate: false});
      requestAnimationFrame(renderStep);

    }
    renderStep();

    /**
     * Add a new datapoint to the graph
     */
    function addDataPoint() {
      // add a new data point to the dataset
      var now = vis.moment();
      $.post("/add_data_point",
      {
        name: gon.productname,
        from: from
      },
      function(data, status) {
        dataset.add({
            x: vis.moment(data["x"]),
            y: data["y"]
        });
        from = data["from"];
      });


      // remove all data points which are no longer visible
      var range = graph2d.getWindow();
      var interval = range.end - range.start;
      var oldIds = dataset.getIds({
        filter: function (item) {
          return item.x < range.start - interval;
        }
      });
      dataset.remove(oldIds);

      setTimeout(addDataPoint, DELAY);
    }
    addDataPoint();
    emojify.run();

</script>

